<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="mystyle.css"/>
    <title>edit </title>
</head>

<body>
    
  <div class="main">  
    <form action="/update" method="post">

        <h2>Edit Product</h2>
        <input type="hidden" , name="id" , value="{{Toy._id}}">

        Name <br> <input type="text" name="txtName" value="{{Toy.name}}"><br>
        <br>
        Price <br><input type="text" name="txtPrice" value="{{Toy.price}}"><br>
        <br>
        Image<br><input type="text" name="Imageurl" value="{{Toy.image}}"><br>
        <input type="submit" value="Update">
    </form>
    </div>

</body>

</html>